*{
  box-sizing: border-box;
  margin: 0;
}

:root{
  --color-primary : #ffcc79;
  --color-secondary : #DB9208;
}

.flex-container{
  height: 100vh;
  
  display:  flex;
  justify-content: center;
  align-items: center;

}

.container{
  background-color: var(--color-primary) ;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 500px;
}

.input-container{
  background-color: var(--color-primary) ;
  height:120px ;
  width: 100%;

}

.input-colors{
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-color{
  height: 40px;
  aspect-ratio: 1;
  background-color: aquamarine;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.input-selected{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-selection {
  height: 40px;
  aspect-ratio: 1;
  background-color: #D9D9D9;
  border-radius: 20px;
  margin: 0 10px;

}

.moves-container{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  
}

.move{
  height: 80px;
  margin: 6px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.move-result{
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.result-peg{
  background-color:aqua;
  margin: 4px;
  border-radius: 20px;
}

.move-selected{
  display: flex;
}

.selected-peg{
   height: 40px;
  aspect-ratio: 1;
  background-color: aquamarine;
  border-radius: 20px;
  margin: 0 10px;
}



.color-wh{
  background-color: white;
}
.color-bl{
  background-color: rgb(0, 0, 0);
}
.color-y{
  background-color: #F7FF00;
}
.color-g{
  background-color: #5BFF3A;
}
.color-r{
  background-color: #FF3A3D;
}
.color-b{
  background-color: #3A96FF;
}




/*  //////////////////stats container */

.stats-container{
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-secondary) ;
}

.score{
  color: white;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 10px;
}

#reset-btn{
  font-size: 16px;
  font-weight: 700;
  padding: 12px 20px;
  color: white;
  background-color:var(--color-primary) ;
  border: none;
  border-radius: 40px;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
  transition: all .2s;
}

#reset-btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}


.attempt-rem{
  color: white;
  font-size: 20px;
  font-weight: 500;
  
}









